<form 
    #ajouteLien="ngForm"
    (ngSubmit)="soumetLien(ajouteLien.value)"
>
    <fieldset>
        <legend>Ajouter un lien au menu</legend>
        <label for="Intitulé">Intitulé</label>
        <input type="text" name="intitule" ngModel/>
        <label for="url">Adresse web</label>
        <input type="text" name="url" ngModel/>
        <button type="submit">Valider</button>
        <button type="reset">Annuler</button>
    </fieldset>
</form>
<button (click)="desactiverItems()">désactiver</button>
<button (click)="ajouterItem()">ajouter</button>
<button (click)="modifierItem()">modifier</button>
<button (click)="listerItems()">Lister</button>
