<nav>
    <p *ngIf="titre.infoBulle">
        <abbr title={{titre.infoBulle}}>{{titre.valeur}}</abbr> ({{nbClics}} / {{nbClicsTotal}})
    </p>

    <p *ngIf="!titre.infoBulle">
        {{titre.valeur}} ({{nbClics}} / {{nbClicsTotal}})
    </p>

    <ul>
        <li *ngFor="let i of items" [ngClass]="{'horizontal':orientation==0, 'vertical':orientation==1}">
            <a 
                [href]="i.url" 
                [textContent]="i.intitule|initCap"
            ></a>
        </li>
    </ul>
    <button [disabled]='boutonInactif' (click)="clicCompteur($event)">clic !</button>
    <button disabled='{{boutonInactif}}' (click)="clicCompteur($event)">clic2 !</button>
</nav>

<!-- [ngClass]="{'vertical':orientation == 1}" -->
<!-- [ngClass]="{'horizontal':true}" -->