nav li {
    list-style: none;     
}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    font:normal normal 16px Arial;
}

.menu_vertical li {
	display:block;
    padding-top:20px;
}
