nav li {
    list-style: none;     
}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    font:normal normal 16px Arial;
}

li.vertical {
	display:block;
    padding-top:20px;
}

li.horizontal {
	display:inline;
    padding-left:10px;
}


nav a.disabled {
	pointer-events: none;
    color:gray;
    font:italic normal 12px Arial;
}

nav a.enabled {
	pointer-events: all;
}
