<p>Bienvenue dans l'application</p>
<p>Nous sommes le {{afficheMomentActuel()}}</p>
<p>Nous sommes le {{aujourdhui|date:'short':'':'fr-FR'}}</p> <!--Nous sommes le 26/08/2020 18:57 -->
<p>Nous sommes le {{aujourdhui|date:'long':'':'fr-FR'}}</p> <!--Nous sommes le 26/08/2020 à 18:57:00 GMT+2 -->
<p>Compteur : {{compteur}}</p>
<button (click) = "incrementeCompteur()">Compteur </button>
<button (click) = "logCompteur()">log</button>
<button *ngIf="(compteur != 0) || (aujourdhui.getSeconds() % 2)" (click) = "logCoucou()">log</button>
<p>Seconde actuelle paire ? => {{ aujourdhui.getSeconds() % 2 == 0 | boolean2str }}</p>
<p>Seconde actuelle paire ? => {{ aujourdhui.getSeconds() % 2 == 0 | boolean2str:'t/f' }}</p>
<p>Seconde actuelle paire ? => {{ aujourdhui.getSeconds() % 2 == 0 | boolean2str:'t/f':true }}</p>
<p>Seconde actuelle paire ? => {{ aujourdhui.getSeconds() % 2 == 0 | boolean2str:'o/o':true }}</p>
<nat-menu
    [titre]='{valeur:"Menu", infoBulle:""}'
    [items]='items'
    [orientation]='menuOrientation'
    (clickEvent) = "augmenteCompteur($event)"
>
</nat-menu>
