<p>Bienvenue dans l'application</p>
<p>Nous sommes le {{afficheMomentActuel()}}</p>
<p>Compteur : {{compteur}}</p>
<button (click) = "incrementeCompteur()">Compteur </button>
<button (click) = "logCompteur()">log</button>
<button *ngIf="(compteur != 0) || (aujourdhui.getSeconds() % 2)" (click) = "logCoucou()">log</button>
<!-- <nat-menu 
    titre="Menu principal" 
    (clickEvent) = "augmenteCompteur($event)"
></nat-menu> -->

<nat-menu
    [titre]='{valeur:"Menu", infoBulle:""}'>
    (clickEvent) = "augmenteCompteur($event)"
</nat-menu>
