<p>Fiche de l'utilisateur {{currentUserName}}</p>

<div>
    <!-- <table>
        <caption>Fiche de l'utilisateur {{currentUserName}}</caption>
        <tbody>
            <tr><td>Sexe</td>             <td></td></tr>
            <tr><td>Prénom</td>           <td></td></tr>
            <tr><td>Nom</td>              <td></td></tr>
            <tr><td>Nom d'utilisateur</td><td>{{currentUserName}}</td></tr>
            <tr><td>Ville</td>            <td></td></tr>
            <tr><td>Date de naissance</td><td></td></tr>
            <tr><td>Mail</td>             <td></td></tr>
            <tr><td>Longitude</td>        <td></td></tr>
            <tr><td>Latitude</td>         <td></td></tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table> -->
    <!-- <ul>
        <li>Sexe : </li>
        <li>Prénom : </li>
        <li>Nom : </li>
        <li>Nom d'utilisateur :{{currentUserName}} </li>
        <li>Ville : </li>
        <li>Date de naissance : </li>
        <li>Age : </li>
        <li>Mail : </li>
        <li>Longitude : </li>
        <li>Latitude : </li>
    </ul> -->
    <img src="" alt="photo de "/>
</div>
<a routerLink="/fiche/suivant">suivant</a>