.toolbar {
    background-color: #DDAACC;
    padding:10px;
}

.liste {
    background-color: #CC99BB;
    padding:10px;
    border:solid 2px black;
}

.erreur {
    border:solid 1px red;
    background-color: white;
    color: red;
    margin:2px;
}